[Unit]
DESCRIPTION="Systemd service to run qt app on startup"
DOCUMENTATION=""
After=multi.user.target

[Service]
# to start rdp
# ExecStartPre=
Type=simple
ExecStart=/usr/lib/appInfotainmentSystem-UI
Restart=on-failure
RestartSec=5

Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=QT_QPA_PLATFORM=wayland

[Install]
WantedBy=multi-user.target
